{% extends 'base.html.twig' %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
    <a href="{{ path('fos_user_profile_edit') }}">{{ 'profile.edit' | trans }}</a>
    <a href="{{ path('fos_user_change_password') }}">{{ 'password.change' | trans }}</a>
    <a href="{{ path('fos_user_security_logout') }}">{{ 'logout' | trans }}</a>
    <a href="{{ path('homepage') }}">{{ 'back' | trans }}</a>
{% endblock fos_user_content %}
