{% extends 'base.html.twig' %}

{% block body %}
        <div>
            <div id="welcome">
                <h1>{{ 'back-office.welcome' | trans }}</h1>
            </div>


            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if is_granted('ROLE_ADMIN') %}
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>{{ 'user.username' | trans }}</th>
                                <th>{{ 'user.email' | trans }}</th>
                                <th>{{ 'user.enabled' | trans }}</th>
                                <th>{{ 'user.locked' | trans }}</th>
                                <th>{{ 'user.last_login' | trans }}</th>
                                {#<th>{{ 'user.expires_at' | trans }}</th>#}
                                <th>{{ 'user.confirmation_token' | trans }}</th>
                                <th>{{ 'user.password_requested_at' | trans }}</th>
                                <th>{{ 'user.roles' | trans }}</th>
                                {#<th>{{ 'user.credential_expire_at' | trans }}</th>#}
                                <th>Actions</th>
                            </tr>

                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{% if user.enabled == 1 %}{{ 'yes' | trans }}{% else %}{{ 'no' | trans }}{% endif %}</td>
                                <td>{% if user.locked == 1 %}{{ 'yes' | trans }}{% else %}{{ 'no' | trans }}{% endif %}</td>
                                <td>{% if user.lastLogin != null %}{{ user.lastLogin | date("d M Y H:i:s") }}{% endif %}</td>
                                {#<td>{% if user.expiresAt != null %}{{ user.expiresAt | date("d M Y H:i:s") }}{% endif %}</td>#}
                                <td>{{ user.confirmationToken }}</td>
                                <td>{% if user.passwordRequestedAt != null %}{{ user.passwordRequestedAt | date("d M Y H:i:s") }}{% endif %}</td>
                                <td>
                                    <ul>
                                        {% for role in user.roles %}
                                            <li>{{ role }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td><a href="{{ path('edit_user', {'id' : user.id}) }}">{{ 'actions.edit' | trans }}</a></td>
                                {#<td>{% if user.credentialsExpireAt != null %}{{ user.credentialsExpireAt | date("d M Y H:i:s") }}{% endif %}</td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('fos_user_profile_show') }}">{{ 'profile.show' |trans }}</a>
                {% else %}
                    <a href="{{ path('fos_user_profile_show') }}">{{ 'profile.show' |trans }}</a>
                    <a href="http://google.lu" target="_blank">{{ 'target.show' | trans }}</a>
                {% endif %}
                <a href="{{ path('fos_user_security_logout') }}">{{ 'logout' | trans }}</a>
            {% endif %}

        </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
